<section class="about-main">
	<header>
		<div class="con">
			<a href="/" class="logo">
				<%= image_tag "svg/logo-min-w-line.svg" %>
			</a>
			<ul>
				<li class="active"><a href="#">about</a></li>
				<li><a href="#">share</a></li>
				<li><a href="#">my</a></li>
			</ul>
		</div>
	</header>
	<div class="main-wrap">
		<%= image_tag "svg/logo-full-w-line.svg", class: "about-main-logo" %>
	</div>
</section>
<section class="sec-padding sec02">
	<div class="con">
		<h3>당신은 어떻게<br>죽고 싶나요.</h3>
		<div class="text-wrap">
			<p>우리는 태어나서 끊임없이 죽음을 향해 달려간다. 하지만 죽음에 대해 이야기 하길 두려워하고 꺼려한다. 결국 죽음을 제대로 준비하지 못하게 되고 원하는 대로 일생을 마무리 하지 못하는 경우가 많다.</p>
			<p>-</p>
			<p>프로젝트 TOMBs는 자신의 죽음을 생각하게 해주고 자신의 죽음에 대한 생각을 다른 사람과 공유할 수 있는 플렛폼을 제공한다. </p>
		</div>
	</div>
</section>
<section class="sec-padding sec03">
	<div class="con">
		<div class="left">
			<%= image_tag "png/about-title01.png", class: "about-mark01" %>
			<h3>나의 죽음은<br>어떤 모습 일까요.</h3>
			<div class="text-wrap">
				<p>내가 어떤날 어떻게 죽고 싶은지<br> 생각해보는 시간을 가져보세요.</p>
			</div>
		</div>
	</div>
	<div class="sec03-img" id="sec03-img">
<!--		7*3개 필요-->
	</div>
</section>
<section class="sec04 sec-padding">
	<div class="con sec04-layout">
		<%= image_tag "png/sec-04-img.png", class: "sec04-img" %>
		<div class="sec04-right">
			<%= image_tag "svg/about-title02.svg", class: "about-mark02" %>
			<h3>다른 사람들과 죽음을<br>공유해보세요.</h3>
				<div class="sec04-text-wrap">
					<p>죽음에 대한 걱정, 감사, 후회 그리고 용서에 대해 기록해보고 다른 사람들은 죽음에 대해 어떤 생각을 가지고 있는지, 어떤 준비를 하고 있는지 함께 공유해 보세요.</p>
				</div>
		</div>
	</div>
</section>
<section class="sec05">
	<a href="my.html">
		<%= image_tag "svg/btn-start.svg", class: "sec05-btn" %>
	</a>
</section>
<footer>
	<div class="con foo">
		<%= image_tag "svg/logo-full-w-line.svg", class: "foo-logo" %>
		<p>Copyright(c)2018 by Taewoong, Yoon.<br> All Page content is property of Taewoong</p>
	</div>
</footer>