<section class="result-main">
  <header>
  	<div class="con">
  		<a href="/" class="logo">
  			<%= image_tag "svg/logo-min-b-line.svg" %>
  		</a>
  		<ul>
  			<li><a href="/about">about</a></li>
  			<li><a href="/share">share</a></li>
  			<li class="active"><a href="/design">my tomb</a></li>
  		</ul>
  	</div>
  </header>
  <section class="tombs-profile tran-02">
  	<div class="con">
  		<div class="profile-wrap" style="display: none">
  			<div class="profile-text" >
  				<h3 id="profile-name" class="text-<%= @user_life_list[0] %>"><%= @user_name %></h3>
  				<h3 id="profile-percent" class="text-<%= @user_life_list[0] %>" value="<%= @user_life %>"><%= @user_life %>%</h3>
  				<div id="profile-percent-line"></div>
  				<div id="profile-percent-line-active" class="background-<%= @user_life_list[0] %>" style="width: <%= @user_life %>%;"></div>
  				<p id="profile-message">
  				   <%= @user_comment %>
  				</p>
  				<p> - </p>
  				<p id="profile-keyword">
  					<%= @user_content %>
  				</p>
  				<div id="btn-print" class="tran-02 background-<%= @user_life_list[0] %>" onclick="profilePrint()"> <span>Print </span></div>
  			</div>
  			<div class="profile-illust profile-illust-<%= @user_life_list[0] %>" >
  				<ul>
  				  <li>
							<h2 class="illust-text text-<%= @user_life_list[0] %>" id="birth_y"><%= @start_year %></h2>
							<div class="illust-line background-<%= @user_life_list[0] %>" id="illust-line-birth"></div>
						</li>
  					<% @user_life_list.each do |image| %>
  					  <li>
  					    <%= image_tag "svg/#{image}.svg", class: "svg fill-#{@user_life_list[0]}" %>
  					  </li>
  					<% end %>
  					<li><img src="<%= image_path "svg/q08.svg" %>" class="fill-<%= @user_life_list[0] %>" alt=""></li>
  					<li>
							<div class="illust-line background-<%= @user_life_list[0] %>" id="illust-line-death"></div>
							<h2 class="illust-text text-<%= @user_life_list[0] %>" id="death_y"><%= @start_year.to_i + @user_wish_age.to_i - 1 %></h2>
						</li>
  				</ul>
  			</div>
  		</div>
  	</div>
  	<img src="<%= image_path "svg/btn-down.svg" %>" alt="btn-down" class="btn-down" onclick="renderUserLog()" >
  </section>
  <section class="tombs-profile-detail">

		<div class="profile-bg background-<%= @user_life_list[0] %>"></div>
		<div class="profile-con">
			<div class="profile-header border-<%= @user_life_list[0] %> background-h-<%= @user_life_list[0] %>" onclick="renderUserInfo()" >
  			<%= image_tag "svg/btn-up-w.svg" %>
  			<ul class="border-r-<%= @user_life_list[0] %>">
  				<li class="text-<%= @user_life_list[0] %> border-b-<%= @user_life_list[0] %>"><%= @start_year %></li>
  				<li class="text-<%= @user_life_list[0] %>"><%= @start_year.to_i + @user_wish_age.to_i - 1 %></li>
  			</ul>
  			<h3 class="profile-name text-<%= @user_life_list[0] %>"><%= @user_name %></h3>
			</div>

			<input type="checkbox" id="toggle">
			<div id="addTombs" class=" tran-03">

				<label for="toggle" class="toggle">
					<p class="btn-pluse tran-02">+</p>
				</label>
				<div class="addTombs-wrap tran-02">
					<div class="addTombs-header">
						<h3>오늘 당신은 <br> 어떤 죽음을 생각했나요. </h3>

						<label for="toggle" onclick="clearUserLog();">
							<img src="<%= image_path "svg/btn-cancel.svg" %>" alt="" class="form-check" onclick="clearUserLog();">
						</label>

					</div>
					<div class="form-container">
						<div class="addTombs-radioWrap">

							<input type="radio" name="addTombs" value="thanks" id="add-c01">
							<label for="add-c01">
								<img src="<%= image_path "svg/c-1-fill.svg" %>" alt="" class="list-cata-active tran-01">
								<img src="<%= image_path "svg/c-1.svg" %>" alt="" class="list-cata tran-01">
								<p>thanks</p>
							</label>

							<input type="radio" name="addTombs" value="forgive" id="add-c02">
							<label for="add-c02">
								<img src="<%= image_path "svg/c-2-fill.svg" %>" alt="" class="list-cata-active tran-01">
								<img src="<%= image_path "svg/c-2.svg" %>" alt="" class="list-cata tran-01">
								<p>forgive</p>
							</label>

							<input type="radio" name="addTombs" value="regret" id="add-c03">
							<label for="add-c03">
								<img src="<%= image_path "svg/c-3-fill.svg" %>" alt="" class="list-cata-active tran-01">
								<img src="<%= image_path "svg/c-3.svg" %>" alt="" class="list-cata tran-01">
								<p>regret</p>
							</label>

							<input type="radio" name="addTombs" value="worry" id="add-c04">
							<label for="add-c04">
								<img src="<%= image_path "svg/c-4-fill.svg" %>" alt="" class="list-cata-active tran-01">
								<img src="<%= image_path "svg/c-4.svg" %>" alt="" class="list-cata tran-01">
								<p>worry</p>
							</label>
						</div>

						<div class="addTombs-text">
							<textarea name="addTombs-text" placeholder="fill your death." ></textarea>

							<input type="file" name="addTombs-image" id="addTombs-image" accept="image/jpg" />
							<label for="addTombs-image">
							  <img id="add-image" src="http://newsimg.hankookilbo.com/2016/03/11/201603111147966593_1.jpg" alt="your image" style="display:none"/>
								<p id="add-image-none">+</p>
							</label>

							
							<label for="addTombs" class="tran-02" onclick="addTombSubmit()">
								<img src="<%= image_path "svg/btn-check-fill.svg" %>" alt="" class="form-check tran-02">
								<img src="<%= image_path "svg/btn-check.svg" %>" alt="" class="form-check">
							</label>

						</div>
					</div>


				</div>


			</div>

			<div class="tombs-list-wrap">
				<ul>
					<li class="tombs-list">
						<div class="list-padding">
							<img src="<%= image_path "svg/c-1.svg" %>" alt="">

							<div class="list-con">
								<p class="list-p">Ea ea culpa aliqua varias. Hic multos admodum de pariatur labore enim probant elit te quo probant aut eiusmod, ex veniam expetendis mentitum. Tamen nostrud ex offendit.</p>
							</div>

							<p class="list-date">2018.10.12</p>
						</div>
					</li>

					<li class="tombs-list">
						<div class="list-padding">
							<img src="<%= image_path "svg/c-3.svg" %>" alt="">

							<div class="list-con">
							  <%= image_tag "img/sample-01.jpg", class: "list-img" %>
								<!--<div class="list-img"></div>-->
								<p class="list-p">Ea ea culpa aliqua varias. Hic multos admodum de pariatur labore enim probant elit te quo probant aut eiusmod, ex veniam expetendis mentitum. Tamen nostrud ex offendit.</p>
							</div>
							<p class="list-date">2018.10.12</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
  </section>
  <footer style="display: none;">
		<div class="con foo">
			<img src="<%= image_path"svg/logo-full-w-line.svg" %>" alt="" class="foo-logo">
			<p>Copyright(c)2018 by Taewoong, Yoon.<br> All Page content is property of Taewoong</p>
		</div>
	</footer>
</section>

<script>
  addImageListener();
  changeSVGColor("fill-<%= @user_life_list[0] %>");
  renderView();
</script>