<section class="share-layout">
  <header>
		<div class="con">
			<a href="#" class="logo">
			  <%= image_tag "svg/logo-min-b-line.svg" %>
			</a>
			<ul>
  			<li><a href="/about">about</a></li>
  			<li class="active"><a href="/share">share</a></li>
  			<li><a href="/design">my tomb</a></li>
			</ul>
		</div>
	</header>
	
	<div class="headerHeight"></div>
	
	<div class="con">
		<div class="search">
			<input type="search">
			<div class="search-underline"></div>

			<input type="checkbox" id="cata-toggle" name="cata-toggle">
			<label for="cata-toggle">
				<div class="cata-wrap tran-02">
					<ul>
						<li><img src="<%= image_path "svg/c-1.svg" %>" alt=""></li>
						<li class="search-active"><img src="<%= image_path "svg/c-2.svg" %>" alt=""></li>
						<li><img src="<%= image_path "svg/c-3.svg" %>" alt=""></li>
						<li><img src="<%= image_path "svg/c-4.svg" %>" alt=""></li>
					</ul>
				</div>
			</label>

		</div>

		<div class="grid">
			<div class="grid-item">
				<div class="grid-padding tran-02">
					<div class="item-header ">
						<%= image_tag "svg/c-1.svg" %>
						<p class="item-user">Yoon, Taewoong</p>
					</div>

					<p class="item-p">Aut possumus philosophari, probant non enim, hic ex irure voluptate iis nisi ea iudicem ne noster.</p>

					<div class="item-line-wrap">
						<div class="item-line"></div>
						<div class="item-line-hover tran-03"></div>
					</div>

					<p class="item-date">2018.05.26</p>
				</div>
			</div>
			
			<div class="grid-item">
				<div class="grid-padding tran-02">
					<div class="item-header ">
						<%= image_tag "svg/c-1.svg" %>
						<p class="item-user">Yoon, Taewoong</p>
					</div>

					<p class="item-p">Aut possumus philosophari, probant non enim, hic ex irure voluptate iis nisi ea iudicem ne noster. Aut possumus philosophari, probant non enim, hic ex irure voluptate iis nisi ea iudicem ne noster. Aut possumus philosophari, probant non enim, hic ex irure voluptate iis nisi ea iudicem ne noster. Aut possumus philosophari, probant non enim, hic ex irure voluptate iis nisi ea iudicem ne noster. Aut possumus philosophari, probant non enim, hic ex irure voluptate iis nisi ea iudicem ne noster.</p>

					<div class="item-line-wrap">
						<div class="item-line"></div>
						<div class="item-line-hover tran-03"></div>
					</div>

					<p class="item-date">2018.05.26</p>
				</div>
			</div>
			
			<div class="grid-item">
				<div class="grid-padding tran-02">
					<div class="item-header ">
						<%= image_tag "svg/c-1.svg" %>
						<p class="item-user">Yoon, Taewoong</p>
					</div>

					<p class="item-p">Aut possumus philosophari, probant non enim, hic ex irure voluptate iis nisi ea iudicem ne noster. Aut possumus philosophari, probant non enim, hic ex irure voluptate iis nisi ea iudicem ne noster. Aut possumus philosophari, probant non enim, hic ex irure voluptate iis nisi ea iudicem ne noster. Aut possumus philosophari, probant non enim, hic ex irure voluptate iis nisi ea iudicem ne noster. Aut possumus philosophari, probant non enim, hic ex irure voluptate iis nisi ea iudicem ne noster.</p>

					<div class="item-line-wrap">
						<div class="item-line"></div>
						<div class="item-line-hover tran-03"></div>
					</div>

					<p class="item-date">2018.05.26</p>
				</div>
			</div>
			
			<div class="grid-item">
				<div class="grid-padding tran-02">
					<div class="item-header ">
						<%= image_tag "svg/c-1.svg" %>
						<p class="item-user">Yoon, Taewoong</p>
					</div>

					<p class="item-p">Aut possumus philosophari, probant non enim, hic ex irure voluptate iis nisi ea iudicem ne noster. </p>

					<div class="item-line-wrap">
						<div class="item-line"></div>
						<div class="item-line-hover tran-03"></div>
					</div>

					<p class="item-date">2018.05.26</p>
				</div>
			</div>
			
			<div class="grid-item">
				<div class="grid-padding tran-02">
					<div class="item-header ">
						<%= image_tag "svg/c-1.svg" %>
						<p class="item-user">Yoon, Taewoong</p>
					</div>

					<p class="item-p">Aut possumus philosophari, probant non enim, hic ex irure voluptate iis nisi ea iudicem ne noster. Aut possumus philosophari, probant non enim, hic ex irure voluptate iis nisi ea iudicem ne noster. Aut possumus philosophari, probant non enim, hic ex irure voluptate iis nisi ea iudicem ne noster. Aut possumus philosophari, probant non enim, hic ex irure voluptate iis nisi ea iudicem ne noster. Aut possumus philosophari, probant non enim, hic ex irure voluptate iis nisi ea iudicem ne noster.</p>

					<div class="item-line-wrap">
						<div class="item-line"></div>
						<div class="item-line-hover tran-03"></div>
					</div>

					<p class="item-date">2018.05.26</p>
				</div>
			</div>
			
			
			<div class="grid-item">
				<div class="grid-padding tran-02">
					<div class="item-header ">
						<%= image_tag "svg/c-1.svg" %>
						<p class="item-user">Yoon, Taewoong</p>
					</div>
					
					<div class="item-img-wrap">
						<div class="item-img tran-02"></div>
					</div>

					<p class="item-p">Aut possumus philosophari, probant non enim, hic ex irure voluptate iis nisi ea iudicem ne noster. Aut possumus philosophari, probant non enim, hic ex irure voluptate iis nisi ea iudicem ne noster. Aut possumus philosophari, probant non enim, hic ex irure voluptate iis nisi ea iudicem ne noster. Aut possumus philosophari, probant non enim, hic ex irure voluptate iis nisi ea iudicem ne noster. Aut possumus philosophari, probant non enim, hic ex irure voluptate iis nisi ea iudicem ne noster.</p>

					<div class="item-line-wrap">
						<div class="item-line"></div>
						<div class="item-line-hover tran-03"></div>
					</div>

					<p class="item-date">2018.05.26</p>
				</div>
			</div>
		</div>
  </div>
  <footer>
		<div class="con foo">
			<img src="<%= image_path"svg/logo-full-w-line.svg" %>" alt="" class="foo-logo">
			<p>Copyright(c)2018 by Taewoong, Yoon.<br> All Page content is property of Taewoong</p>
		</div>
	</footer>
</section>

<script>
  var elem = document.querySelector('.grid');
  var msnry = new Masonry( elem, {
    // options
    itemSelector: '.grid-item',
    columnWidth: 400
  });
  
  // element argument can be a selector string
  //   for an individual element
  var msnry = new Masonry( '.grid', {
    // options
  });
</script>