<section class="share-layout">
  <header>
		<div class="con">
			<a href="#" class="logo">
			  <%= image_tag "svg/logo-min-b-line.svg" %>
			</a>
			<ul>
  			<li><a href="/about">about</a></li>
  			<li class="active"><a href="/share">share</a></li>
  			<li><a href="/design">my tomb</a></li>
			</ul>
		</div>
	</header>
	
	<div class="headerHeight"></div>
	
	<div class="con">

		<div class="grid" style="margin-top: 80px">
		  <% @tombs.each do |item| %>
  		  <div class="grid-item">
  				<div class="grid-padding tran-02">
  					<div class="item-header ">
  						<%= image_tag "#{item.emotion}" %>
  						<p class="item-user">
  						  <%= item.name %>
  						</p>
  					</div>
  					<% if item.image_url.to_s != "" then %>
  					  <% puts "check : #{item.image_url}" %>
    					<div class="item-img-wrap">
    						<img class="item-img tran-02" src="<%= image_path item.image_url  %>"/>
    					</div>
  					<% end %>
  					<p class="item-p">
  					  <%= item.content %>
  					</p>
  
  					<div class="item-line-wrap">
  						<div class="item-line"></div>
  						<div class="item-line-hover tran-03"></div>
  					</div>
  
  					<p class="item-date"><%= item.created_at.strftime("%Y.%m.%d") %></p>
  				</div>
  			</div>
		  <% end %>
		</div>
  </div>
  <footer>
		<div class="con foo">
			<img src="<%= image_path"svg/logo-full-w-line.svg" %>" alt="" class="foo-logo">
			<p>Copyright(c)2018 by Taewoong, Yoon.<br> All Page content is property of Taewoong</p>
		</div>
	</footer>
</section>

<script>
  var elem = document.querySelector('.grid');
  var msnry = new Masonry( elem, {
    // options
    itemSelector: '.grid-item',
    columnWidth: 400
  });
  
  // element argument can be a selector string
  //   for an individual element
  var msnry = new Masonry('.grid', {});
</script>